/*
 * Contains everything that every page should have in terms of styles
 * Base styles
 * Navigation
 */

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --width: min(1200px, calc(100vw - 30px));
    --padding: calc(50vw - var(--width) / 2);
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    font-size: var(--font-size-primary);
}


/* ===== REUSABLE CLASSES =====*/

.small-button{
    background: var(--small-btn-color);
    color: var(--small-btn-text-color);
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: inherit;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: bold;

    &:hover{
        background: var(--small-btn-highlight-color)
    }

    &:active{
        background: var(--small-btn-active-color)
    }
}

.text-button{
    color: var(--small-btn-color);
    font-size: inherit;
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}


.text-image-side-by-side{
    display: flex;
    gap: 10px;

    .right{
        img{
            width: 100%;
        }
    }
}