:root{
    --nav-background: --navigation-color;
    --navigation-color: black;
    --text-color-primary: black;
    --font-size-primary: 18px;
    --font-size-title: 22px;
    --font-size-header: 32px;
    --small-btn-color: #ecfccb;
    --small-btn-highlight-color: #d9f99d;
    --small-btn-active-color: #bef264;
    --small-btn-dark-color: #84cc16;
}