:root{
    --nav-background: --navigation-color;
    --nav-color: black;
    --text-color-primary: black;
    --font-size-primary: 18px;
    --font-size-title: 22px;
    --font-size-header: 32px;
    --small-btn-color: #E9F5D6;
}