:root{
    --nav-background: white;
    --navigation-color: black;

    --footer-background: var(--theme-emerald);
    --footer-color: white;
    --footer-height: 144px;

    --text-color-primary: black;
    --font-size-primary: 18px;
    --font-size-title: 22px;
    --font-size-large: 28px;
    --font-size-header: 32px;
    --font-size-hero: 40px;

    --small-btn-color: var(--theme-emerald);
    --small-btn-text-color: white;
    --small-btn-highlight-color: #10b981;
    --small-btn-active-color: #34d399;
    --small-btn-dark-color: #065f46;

    --footer-button-background: white;
    --footer-button-hover-background: var(--theme-yellow);
    --footer-button-color: black;

    --theme-emerald: #059669;
    --theme-yellow: #fcd34d;
    --theme-light-yellow: #fef3c7;
    --theme-pink: #fda4af;
    --theme-dark-blue: #1e293b;
    --theme-light-green: #22c55e;
}