:root{
    --nav-background: transparent;
    --navigation-color: whitesmoke;
    --hero-background: url('/assets/lander-hero.png');
}

$figures-background: whitesmoke;
$hero-text-color: white;
$faq-background: whitesmoke;

.hero{
    padding: 250px var(--padding);
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    height: 700px;
    color: $hero-text-color;

    .hero-text{
        font-weight: 900;
    }

    .hero-text-highlight{
        color: var(--theme-light-green);
    }

    .hero-description{
        font-size: var(--font-size-title);
        line-height: 1.7;
    }


    &::before{
        content: " ";
        position: absolute;
        left: 0;
        top: 0;

        background: var(--hero-background);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: inherit;
        z-index: -1;
    }
}

.hero-text{
    font-size: 48px;
}

#mission{
    line-height: 1.5;
}

nav{
    position: absolute;
    width: 100%;

    .nav-contact-button:hover{
        color: black;
    }
}

#figures_section{
    background: $figures-background;

    #figures_wrapper{
        display: flex;
        justify-content: space-between;

        .figures-figure{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            text-align: center;

            .figures-figure-icon{
                font-size: 60px;
                color: var(--theme-emerald);
            }
        }
    }
}

#involvement-section{
    .section-header-text{
        margin-bottom: 40px;
    }

    #involvement-wrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;

        .involvement-card{
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 60px;
            align-items: center;

            .involvement-icon-wrapper{
                flex-basis: calc(50% - 20px);
                .involvement-icon{
                    display: block;
                    width: 100%;
                    height: 300px;
                    background-size: cover;
                    background-position: center;
                    border-radius: 10px;
                }
            }


            .involvement-text{
                flex-basis: calc(50% - 30px);
                padding: 30px 0;
                margin-right: auto;
                width: 50%;
            }

            .involvement-title{
                font-size: var(--font-size-large);
                font-weight: 600;
                margin-bottom: 20px;
            }

            .involvement-caption{
                margin-bottom: 20px;
                line-height: 1.5;
            }

            &:nth-child(2){
                flex-direction: row-reverse;
            }
        }
    }
}

#faq-section{
    background: $faq-background;

    #faq-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .faq-question-wrapper{

            .faq-question{
                display: flex;
                justify-content: space-between;
                padding: 20px 0;
                cursor: pointer;
                border-bottom: 2px solid black;
                font-weight: bold;
            }

            .faq-response{
                padding: 20px 15px;

                &.open{
                    display: block;
                }
                &.closed{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 900px){
    #involvement-section{
        #involvement-wrapper{
            .involvement-card{
                gap: 10px !important;
                flex-direction: column !important;

                .involvement-text{
                    flex-basis: 100%;
                    width: 100%;
                }

                .involvement-icon-wrapper {
                    width: 100%;
                    .involvement-icon{
                        width: 100%;
                    }
                }
            }
        }

    }
}