$header-background: whitesmoke;
$involvement-method-background: white;
$involvement-method-hover-background: #d9f99d;
$involvement-method-hover-text: black;
$involvement-method-active-background: #bef264;
$involvement-method-active-text: black;
$map-color: rgb(228, 247, 174);
$pin-color: #fb889f;
$club-name-background: lightcoral;
$club-name-text: white;

html {
    scroll-behavior: smooth;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $header-background;
    gap: 30px;

    .left{
        h1{
            font-weight: 900;
            font-size: var(--font-size-header)
        }
        p {
            font-size: var(--font-size-title);
            line-height: 1.5;
            span{
                font-weight: bold;
            }
        }
    }

    .right{
        img{
            width: 600px;
            border-radius: 10px;
        }

        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    a{
        text-decoration: none;
    }

    .involvement-method{
        font-size: var(--font-size-title);
        background: $involvement-method-background;
        padding: 20px;
        border-radius: 4px;
        width: 400px;
        text-align: left;
        border: none;
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--text-color-primary);
        cursor: pointer;

        transition: 0.2s;

        &:hover{
            background: $involvement-method-hover-background;
            color: $involvement-method-hover-text;
        }

        &:active{
            background: $involvement-method-active-background;
            color: $involvement-method-active-text;
        }

        .fa{
            font-size: var(--font-size-header);
        }
    }
}

#map-section{
    #map-wrapper{
        #map{
            width: 100%;
            fill: $map-color;
            g > path{
                fill: $map-color;
                &:hover{
                    fill: color-mix(in oklab, $map-color, black 5%);
                }
            }
            .pin{
                fill: $pin-color;
                cursor: pointer;

                &:hover{
                    fill: color-mix(in oklab, $pin-color, black 15%);
                }
            }
        }

        #map-club-name{
            position: absolute;
            transform: translate(-20px, -35px);
            background: $club-name-background;
            padding: 5px 10px;
            color: $club-name-text;
            font-weight: bold;
            border-radius: 4px;

            &.invisible{
                display: none;
            }
        }
    }
}

#volunteer, #lead, #join{
    line-height: 1.5;

    .section-content{
        display: flex;
        gap: 30px;
        img{
            width: min(var(--width), 500px);
            margin-top: 1em;
            border-radius: 4px;
        }
    }
}